@import url('https://fonts.googleapis.com/css2?family=Abel&family=Catamaran:wght@300&family=Domine&family=Grenze+Gotisch:wght@300&family=Play&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Big+Shoulders+Stencil+Display:wght@600&family=Fredericka+the+Great&family=Homemade+Apple&family=Rock+Salt&display=swap');
/*
    Google Fonts
    font-family: 'Abel', sans-serif;
    font-family: 'Catamaran', sans-serif;
    font-family: 'Domine', serif;
    font-family: 'Grenze Gotisch', cursive;
    font-family: 'Play', sans-serif;
    font-family: 'Bebas Neue', cursive;
    font-family: 'Big Shoulders Stencil Display', cursive;
    font-family: 'Fredericka the Great', cursive;
    font-family: 'Homemade Apple', cursive;
    font-family: 'Rock Salt', cursive;

*/
/*
    Theme Colors
    (body)background-color: tan;
    #59433B - dark brown
    #8C6D51
    #593C22 - background color
    #BFA380
    #D9C091 - light brown
*/

/*Header CSS*/
#header{
    font-size: 40px;
    font-weight: lighter;
    color: #59433B;
    font-family: 'Grenze Gotisch', cursive;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 1em;
}

#slogan {
    font-size: 20px;
    font-weight: 500;
    color: #8C6D51;
    margin-bottom: 1em;
    margin-left: .5em;
    font-family: 'Rock Salt', cursive;
}

/*Nav CSS*/

nav li:hover {
    color: #C78D42;
    background-color: #FAB353;
}

nav ul li {
    list-style: none;
    display: inline-block;
    padding: 10px;
    color: #C78D42;
    font-size: 18px;

}
nav {
    background-color: antiquewhite;
    border-top: solid;
    border-bottom: solid;
}


/*Home Body CSS*/
h2.aboutHeader {
    text-align: center;
    color: tan;
    font-size: 28px;
    font-weight: 500;
    font-family: 'Fredericka the Great', cursive;
}
#about {
    font-size: 30px;
    font-weight: 400;
    margin-left: 1em;
    margin-right: 1em;
    text-align: center;
    font-family: 'Big Shoulders Stencil Display', cursive;
}
.pStyleR {
    color: #DBAA6E;
    font-size: 20px;
    font-family: 'Abel', sans-serif;
    margin-left: 1.5em;
    margin-right: 1.5em;
    text-align: left;
    float: right;
    width: 75%;
}
.pStyleL {
    color: #DBAA6E;
    font-size: 20px;
    font-family: 'Abel', sans-serif;
    margin-left: 1.5em;
    margin-right: 1.5em;
    text-align: left;
    float: left;
    width: 75%;
}
.headingStyle {
    color: #8C6D51;
    font-weight: 400;
    font-size: 22px;
    font-family: 'Bebas Neue', cursive;
    text-align: center;
    padding-top: 1em;
}

.articleStyle {
    font-size: 17px;
    font-family: 'Domine', serif;
}
.listyle {
    font-size: smaller;
    font-weight: lighter;
    font-family: 'Domine', serif;
}
body {
    background-color: #593C22;
}
body header {
    background-image: /*tan;*/linear-gradient(90deg, tan, #593C22);
    border-bottom: medium;
    border-top: medium;
}

/*Team CSS*/
.empName {
    color: #8C6D51;
    font-weight: 400;
    font-size: 22px;
    font-family: 'Bebas Neue', cursive;
    text-align: center;
    padding-top: 1em;
}

.jobTitle {
    color: #8C6D51;
    font-weight: 400;
    font-size: 18px;
    font-family: 'Bebas Neue', cursive;
    text-align: center;
    padding-top: 1em;
}

/*Classes CSS*/
#classes {
    color: #DBAA6E;
    font-size: 20px;
    font-family: 'Abel', sans-serif;
    margin-left: 1.5em;
    margin-right: 1.5em;
    text-align: center;
}

article section{
    border: solid black;
    margin: 3px;
}

/*TABLE STYLING*/
/*body table {
    text-align: center;
}*/

