@import url('https://fonts.googleapis.com/css2?family=Abel&family=Catamaran:wght@300&family=Domine&family=Grenze+Gotisch:wght@300&family=Play&display=swap');
/*
    Google Fonts
    font-family: 'Abel', sans-serif;
    font-family: 'Catamaran', sans-serif;
    font-family: 'Domine', serif;
    font-family: 'Grenze Gotisch', cursive;
    font-family: 'Play', sans-serif;
*/
/*
    Theme Colors
    (body)background-color: tan;
    #59433B
    #8C6D51
    #593C22
    #BFA380
    #D9C091
*/

header h1 {
    font-size: 23px;
    font-weight: lighter;
    color: grey;
    font-family: 'Grenze Gotisch', cursive;
    padding: 5px;
}
.pStyle {
    color: #DBAA6E;
    font-size: smaller;
    font-family: 'Abel', sans-serif;
}
.headingStyle {
    color: grey;
    font-weight: bold;
    font-size: 22px;
    font-family: 'Play', sans-serif;
}
.articleStyle {
    font-size: 17px;
    font-family: 'Domine', serif;
}
.listyle {
    font-size: smaller;
    font-weight: lighter;
    font-family: 'Domine', serif;
}
body {
    background-color: #593C22;
}
body header {
    background-image: /*tan;*/linear-gradient(90deg, tan, #593C22);
    border-bottom: medium;
    border-top: medium;
}

article section{
    border: solid black;
    margin: 3px;
}

nav li:hover {
    color: #C78D42;
    background-color: #FAB353;
}

nav ul li {
    list-style: none;
    display: inline-block;
    padding: 10px;
    color: #C78D42;
    font-size: 18px;

}
nav {
    background-color: antiquewhite;
    border-top: solid;
    border-bottom: solid;
}
header p {
    color: brown;
    font-size: 20px;
    font-family: 'Abel', sans-serif;
    font-weight:600;
    padding: 2px;
}

/*TABLE STYLING*/
/*body table {
    text-align: center;
}*/

